.weather-container {
  display: flex;
  flex-direction: column;

  height: 400px;

  gap: 16px;

  background-size: cover;
  background-position: center;

  border-radius: 8px 8px 0 0;
}

.weather-header {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 16px;
}

.weather-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;

  padding: 0 8px;

  column-gap: 16px;
  row-gap: 8px;

  grid-template-areas:
    "a  a"
    "b  c"
    "d  d";
}

.weather-infos {
  display: flex;
  flex-direction: column;

  gap: 8px;

  grid-area: a;

  p,
  span {
    text-align: center;
  }
}

.weather-temperature {
  font-size: 30px;
  font-weight: 700;
}

.wrapper {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  height: 72px;

  padding: 4px 8px;

  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);

  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.wind {
  grid-area: d;
}

.wind-content-wrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.wind-content {
  font-size: 20px;
}

.item-header {
  display: flex;
  gap: 8px;

  height: 20px;

  align-items: center;
}

.item-title {
  font-size: 12px;
  font-weight: 300;

  color: #52525b;

  text-transform: uppercase;
}

.item-content,
.weather-temperature,
.weather-location,
.weather-desc {
  font-size: 28px;
  text-align: center;

  color: #f5f5f5;

  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.wind-content,
.weather-location {
  font-size: 18px;
}

.isDayTime {
  background-image: url("../../assets/day.jpg");
}

.isNightTime {
  background-image: url("../../assets/night.jpg");
}
